@model Pagina.Models.Producto

@{
    ViewBag.Title = "Detalles";
}

<link href="~/Content/details.css" rel="stylesheet">

<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        <b>@Html.DisplayFor(model => model.Nombre)</b> -
        <small><i>ID#@Html.DisplayFor(model => model.ID)</i></small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/Upload/Productoes/@Model.Imagen" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3"><b>@Html.DisplayNameFor(model => model.Descripcion)</b></h3>
            <p>@Html.DisplayFor(model => model.Descripcion)</p>
            <h3 class="my-3"><b>Detalles</b></h3>
            <ul>
                <li>@Html.DisplayNameFor(model => model.Precio): $@Html.DisplayFor(model => model.Precio)</li>
                <li>@Html.DisplayNameFor(model => model.Tipo.Nombre): @Html.DisplayFor(model => model.Tipo.Nombre)</li>
                <li>@Html.DisplayNameFor(model => model.Gema.Nombre): @Html.DisplayFor(model => model.Gema.Nombre)</li>
            </ul>
        </div>
    </div>
</div>
